*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    background-color: grey; 
}

.board {
    width: 100%;
    max-width: 620px; 
    aspect-ratio: 1 / 1;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;

    justify-content: center;
    align-content: center;
}

.cell {
    background-color: aqua;
}